:root {
    --col-primary: #2196f3;
    --col-primary-light: #64b5f6;
    --col-primary-dark: #1976d2;
    --col-secondary: #9e9e9e;
    --col-secondary-light: #e0e0e0;
    --col-secondary-dark: #616161;
    --col-amber: #ffc107;
    --col-yellow: #ffeb3b;
    --col-white: #fff;
    --col-black: #000;
    --border-radius-tiny: 0.1rem;
    --border-radius-small: 0.2rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* TODO: Remove */
/* div {
    border: thin solid #888;
} */

html, body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

div#app {
    border: thin solid #f00;
    display: grid;
    grid-template-areas: 'aside main main main main';
}

aside {
    border: thin solid #0f0;
    grid-area: aside;
    padding: 0.5rem;
}

main {
    border: thin solid #00f;
    grid-area: main;
    padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.font-heading {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

a, a:visited, a:focus {
    color: #2196f3; /* col primary */
    text-decoration: none;
}

a:hover {
    color: #1976d2; /* col primary dark */
}

.font-body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-search {
    display: inline-block;
    width: 30rem;
    height: 2rem;
}

.btn-search {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: var(--col-white);
    background-color: var(--col-primary);
    border-radius: var(--border-radius-tiny);
    
}

.btn-home {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    color: var(--col-white);
    background-color: var(--col-primary);
    border-radius: var(--border-radius-tiny);
}

.btn-search:hover, .btn-home:hover {
    background-color: var(--col-primary-dark);
    cursor: pointer;
}

.team-item {
    padding: 0.5rem;
    display: grid;
    grid-template-areas: 'item-title item-gen item-rating';
    grid-template-columns: repeat(3, 1fr);
}

.item-title {
    grid-area: item-title;
}

.item-gen {
    grid-area: item-gen;
    text-align: center;
}

.item-rating {
    grid-area: item-rating;
    text-align: right;
}

ul.breadcrumb {
    padding: 0.5rem;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 0.1rem;
    content: '/\00a0';
}

.container-gens {
    margin-bottom: 1rem;
}

.gens-title {
    font-size: 2.2rem;
}

.container-gens-cards {
    display: flex;
}

.team-card {
    padding: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background: white;
    box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.3);
    display: grid;
    grid-template-areas: 
        'card-title card-title card-title card-title card-gen card-gen'
        'card-pokemon card-pokemon card-pokemon card-pokemon card-pokemon card-pokemon'
        'card-rating card-rating card-rating card-rating card-rating card-rating'
    ;
    border-radius: var(--border-radius-small);
}

.card-title {
    grid-area: card-title;
    font-size: 1.2rem;
}

.card-gen {
    grid-area: card-gen;
    font-size: 1.2rem;
    text-align: right;
}

.card-pokemon {
    grid-area: card-pokemon;
}

.card-rating {
    grid-area: card-rating;
}

.pokemon-icon {
    display: inline-block;
    padding: 0.25rem;
}

.text-amber {
    color: #ffc107; /* col amber */
}

.text-yellow {
    color: #ffeb3b; /* col yellow */
}

.text-muted {
    color: #9e9e9e; /* col secondary light */
    font-style: italic;
}

.text-secondary {
    color: #9e9e9e; /* col secondary */
}