* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* TODO: Remove */
/* div {
    border: thin solid #888;
} */

html, body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

div#app {
    border: thin solid #f00;
    display: grid;
    grid-template-areas: 'aside main main main main';
}

aside {
    border: thin solid #0f0;
    grid-area: aside;
    padding: 0.5rem;
}

main {
    border: thin solid #00f;
    grid-area: main;
    padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.font-heading {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

.font-body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-search {
    display: inline-block;
    width: 30rem;
    height: 2rem;
}

.btn-search {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.team-item {
    padding: 0.5rem;
    display: grid;
    grid-template-areas: 'item-title item-gen item-rating';
    grid-template-columns: repeat(3, 1fr);
}

.item-title {
    grid-area: item-title;
}

.item-gen {
    grid-area: item-gen;
    text-align: center;
}

.item-rating {
    grid-area: item-rating;
    text-align: right;
}

ul.breadcrumb {
    padding: 0.5rem;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 0.1rem;
    content: '/\00a0';
}